/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
}
.frame {
  display: flex;
  padding: 0;
  width: 900px;
  height: 500px;
  background-image: url(images/nintendo_game_boy_advance__platinum__by_blueamnesiac_d77sxjc-414w-2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.dog-background {
  margin-bottom: 51px;
  background-color: antiquewhite;
  background-image: url(images/ddxkac6-ebe2ffce-8080-4ebf-b301-598019f384b0.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 257px;
}

#title {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 60px;
  background: url('images/output-onlinetools.png');
  background-size: cover;
  transform: skew(8deg, -16deg);
  /* transition-property: transform;
  transition-timing-function: ease-in;
  transition-duration: 50ms; */
  transition: transform ease-in 100ms;
}


#title:hover {
  transform:skew(8deg, -16deg) scale(1.1);
}


#bootlogo {
  position:absolute;
  margin-bottom: 51px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 257px;
  animation: startup 5s ease-in, logo 3s 2s ease-in-out;
}
#animation {
  margin-top: 40px;
  margin-left:180px;
  width: 140.5px;
  height: 170px;
  background: url('images/imagedog.png') left center;
  background-size: cover;
  animation: play 2s steps(12) infinite;
  display: inline-block;
}

#start {
  position: absolute;
  margin-left: 90px;
  background: url(images/Skjermbilde_2024-01-17_001135-removebg-preview.png);
  background-size: cover;
  width: 200px;
  height: 15px;
  animation: startgame 1s ease infinite;
  
}


@keyframes startup {
  0%, 100% {z-index: 1; background-color: rgb(15, 15, 15);}
}

@keyframes logo {
  0%, 70% {z-index: 2; background: white url('images/5k2tWE6P7gjtYxKNjdz6E2wB2MR957XPG3bukQuj-ezgif.com-resize.gif'); background-repeat: no-repeat;}
  100% {z-index: 2; background-color: rgb(15, 15, 15) ;}
}

@keyframes play {
  100% {background-position: -1686px;
  }
}

@keyframes startgame {
  0% ,100% {margin-top: 2px}
  50% {margin-top: 0px}
}